{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="py-5">Inscription</h1>
            {{ form(registerForm) }}

        </div>
    </div>
    <br>
    <div class="pb-5">
        <a href="{{ path('app_login') }}">Vous avez déjà un compte ? Connectez-vous ici.</a>
    </div>
</div>

{% endblock %}